.tabbar {
  background-color: rgb(0, 139, 23);
}
.toolbar {
  background-color: rgb(0, 139, 58);
}
ons-carousel[fullscreen] {
  height: 80%;
}
:checked + .tabbar__button {
  color: white;
}
.bottom-bar,
.toolbar__center,
.toolbar__title {
  font-family: "Anton", sans-serif;
  font-size: 28px;
  margin: 0;
  color: white;
  padding: 0;
}
.font1 {
  font-family: "Anton", sans-serif;
  font-size: 21px;
  color: black;
}
