
.tabbar {
    background-color: darkred;
}
.toolbar{
    background-color: darkred;
}
ons-carousel[fullscreen] {
    height: 80%;
}
:checked+.tabbar__button {
    color: white;
}
.bottom-bar, .toolbar__center, .toolbar__title {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    margin: 0;
    color: white;
    padding: 0;
}
.font1{
    font-family: 'Anton', sans-serif;
    font-size: 21px;
    color: black;
}
