<ons-page id="search">
   <p style="text-align: center; margin-top: 10px;">
       <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
       </ons-search-input>
   </p>
   <div class="searchresult">
       <ons-row>
           <ons-col width="130px">
               <img src="image/fe395830-dc8a-11ea-8433-c5d4d14f3a3c_original.jpg" width="100px" class="searchimage" alt="">
           </ons-col>
           <ons-col>
               <div><b style="font-size: 14px;">THE SNAKE</b>
                   <div style="font-size:small;">
                     
The songs of the use of dharma against the unrighteous are based on legends, narratives and personal beliefs, created for entertainment.<span id="dots">...</span><span
                           id="more">
                           </div>

                   <p class="rating"style="
                   margin-bottom: 0px;
                   margin-top: 8px;
               ">Ratings</p>
                   <div class="starrate">
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                   </div>
               </div>
           </ons-col>

       </ons-row>
       <ons-row>
           <ons-col width="130px">
               <img src="image/joker_ver3_xlg.jpg" width="100px" class="searchimage" alt="">
           </ons-col>
           <ons-col>
               <div><b style="font-size: 14px;">JOKER </b>
                   <div style="font-size:small;">In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.<span id="dots">...</span></div>
                   <p class="rating"style="
                   margin-bottom: 0px;
                   margin-top: 8px;
               ">Ratings</p>
                   <div class="starrate">
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                   </div>
               </div>
           </ons-col>
       </ons-row>
       <ons-row>
           <ons-col width="130px">
               <img src="image/images.jpg" width="100px" class="searchimage" alt="">
           </ons-col>
           <ons-col>
               <div><b style="font-size: 14px;">IT</b>
                   <div style="font-size:small;">In the summer of 1989, a group of bullied kids band together to destroy a shape-shifting monster, which disguises itself as a clown and preys on the children of Derry, their small Maine town.<span id="dots">...</span><span
                           id="more">
                         </div>
                   <p class="rating"style="
                   margin-bottom: 0px;
                   margin-top: 8px;
               ">Ratings</p>
                   <div class="starrate">
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                       <ons-icon class="starspace" icon="md-star"></ons-icon>
                   </div>
               </div>
           </ons-col>
       </ons-row>

   </div>
</ons-page>